.App {
  text-align: center;
}

input {
  margin: 10px;
}

button {
  margin: 10px;
}

form {
  margin: 20px;
}

.alerts {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #f00;
  background-color: #fee;
}

.alerts ul {
  list-style-type: none;
  padding: 0;
}

.alerts li {
  margin-bottom: 10px;
}